<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista pinów</h1></div>
  <div class="panel-body">

<table>
  <thead>
    <tr>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Pokaż', pin %></td>
        <td><%= link_to 'Edycja', edit_pin_path(pin) %></td>
        <td><%= link_to 'Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
  <div class="panel-footer"><%= link_to 'New Pin', new_pin_path %></div>
</div>
